/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.heading {
  font-family: "Roboto";
  color: #f8fafc;
  font-size: 38px;
  font-weight: 700;
}
.super-over-league-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 150px;
  width: 150px;
}
@media screen and (min-width: 768px) {
  heading {
    font-family: "Roboto";
    font-size: 65px;
    font-weight: 600;
    color: #f8fafc;
  }
  .image {
    height: 200px;
    width: 200px;
  }
}
